<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pedpresa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="parts/header :: header"></header>

<div class="container-fluid align-items-center bg-light">
    <div class="row">
        <div class="col-6">
            <form method="post" th:action="'/keyedit/'+${key.id}+'/save'">
                    <h4 th:text="'№ '+${key.id}+' из '+${count}"></h4>
                    <label for="keyword">Ключевое слово</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="keyword" name="keyword" th:value="${key.key_words}">
                    </div>
                    <label for="tag">Tag</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="tag" name="tag" th:value="${key.tag}">
                    </div>
                    <label for="pict">Pict</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="pict" name="pict" th:value="${key.pict}">
                    </div>
                    <label for="id_pict">Id pict</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="id_pict" name="id_pict" th:value="${key.id_pict}">
                    </div>
                        <button type="submit" role="button" class="btn btn-success" aria-pressed="true" >Сохранить</button>
                        <a th:href="'/keyedit/'+${key.id}+'/delete'" role="button" class="btn btn-danger ml-10" aria-pressed="true">Удалить</a>
                        <a th:href="${key.id} > 1 ? '/keyedit/'+${key.id -1} : '/keywords'" role="button" class="btn btn-outline-primary ml-10" aria-pressed="true"> << </a>
                         <a th:href="${key.id} < ${count} ? '/keyedit/'+${key.id +1} : '/keywords'" role="button" class="btn btn-outline-primary ml-10"  aria-pressed="true"> >> </a>
            </form>
        </div>

        <div class="col-6 mt-3" align="center">
            <img th:src="${key.pict}" height="300">
        </div>
    </div>
</div>
<!--<header th:insert="parts/footer :: footer"></header>-->
</body>
</html>